.tournament_table{
    background: rgba(255, 251, 225, 0.8);
    animation: example 0.6s;
   
}

@keyframes example{

    0%    { opacity: 0%; }
    5%    { opacity: 5%; }
    10%   { opacity: 10%; }
    15%   { opacity: 15%; }
    20%   { opacity: 20%; }
    25%   { opacity: 25%; }
    30%   { opacity: 30%; }
    35%   { opacity: 35%; }
    40%   { opacity: 40%; }
    45%   { opacity: 45%; }
    50%   { opacity: 50%; }
    55%   { opacity: 55%; }
    60%   { opacity: 60%; }
    65%   { opacity: 65%; }
    70%   { opacity: 70%; }
    75%   { opacity: 75%; }
    80%   { opacity: 80%; }
    85%   { opacity: 85%; }
    90%   { opacity: 90%; }
    95%   { opacity: 95%; }
    100%  { opacity: 100%;}

}
.reservation:onload{
    top:100px;
}
.pixelated {
    image-rendering: pixelated;
    overflow:auto;
    
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

@media only screen 
and (max-width : 600px) {
    .pixelated {
        image-rendering: pixelated;
        overflow:auto;
        background-color:  wheat;
        border-style: solid; 
        height : 600px;
        width: 300px;
        width: 100%;
    }

    .font-class{

        font-size: 18px;

    }
}

@media only screen 
and (min-width : 700px) {
    .pixelated {
        image-rendering: pixelated;
        overflow:auto;
        background-color:  wheat;
        border-style: solid; 
        height : 800px;
        width: 1550px;
    }
    .font-class{

        font-size: 36px;

    }
}